html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: #FFD633;
    padding: 1% 0;
    font-size: 1.2em;
    color: black;
}

#brand{color: black}

.navbar-default .navbar-nav li a {
    color: black;
}

.navbar-brand {
    display: block;
    text-align:center;
    float: none;
    vertical-align: top;
    color: black;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
    color: black;
}

#home{
    display: table;
    height: 88%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.btn-inverse {
    background-color: #FFD633;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1 {
    font-size: 300%;
    font-weight: 700;
}
.padding{
    padding: 80px 0;
}
.padding img {
    width: 100%;
}
footer {
    width: 100%;
    background-color: #333333;
    padding: 1%;
    color: #FFF;
}

.container{
    max-width: 70%;
}



