<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>PostIdent</title>
    <link href="../css/vergleich.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active" href="#">Daten abgleichen</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div id="home">
<h2>Daten abgleichen:</h2>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6">
                    <form    th:action="@{/datenSpeichern}"
                            th:object="${tempPersonenDaten}"
                            method="post">
                        <div class="form-group">
                            <label>Vorname:</label>
                            <input th:field="*{vorname}" type="text" class="form-control" id="vorname">
                        </div>
                        <div class="form-group">
                            <label for="nachname">Nachname:</label>
                            <input  th:field="*{nachname}" type="text" class="form-control" id="nachname">
                        </div>
                        <div class="form-group">
                            <label for="persoNr">Personalausweis-Nr:</label>
                            <input  th:field="*{persoNr}" type="text" class="form-control" id="persoNr" placeholder="Personalausweis-Nr">
                        </div>
                        <div class="form-group">
                            <label for="geburtstag">Geburtstag:</label>
                            <input  th:field="*{geburtstag}" type="text" class="form-control" id="geburtstag" placeholder="Geburtstag">
                        </div>
                        <div class="form-group">
                            <label for="nationalitaet">Nationalität:</label>
                            <input th:field="*{nationalitaet}" type="text" class="form-control" id="nationalitaet" placeholder="Straße">
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse:</label>
                            <input th:field="*{adresse}" type="text" class="form-control" id="adresse" placeholder="Hausnummer">
                        </div>
                        <div class="form-group">
                            <label for="plz">PLZ:</label>
                            <input  th:field="*{plz}" type="text" class="form-control" id="plz" placeholder="Postleitzahl">
                        </div>
                        <div class="form-group">
                            <label for="geburtsort">Geburtsort:</label>
                            <input th:field="*{geburtsort}" type="text" class="form-control" id="geburtsort" placeholder="Stadt">
                        </div>
                <div style="text-align: center">
                    <button id="Speichern" type="submit" class="btn btn-lg btn-inverse">Speichern</button>
                    <button class="btn btn-lg btn-inverse" type="submit"><a th:href="@{/}">Vorgang abbrechen</a></button>
                </div>

            </form>
        </div>
        <div class="col-md-6">
            <img th:src="@{'/images/'+${filename}}" width="50em"/>
            <br>
        </div>
    </div>
</div>
</div>

    <footer class="container-fluid text-center fixed">
        <h3>Impressum</h3>
    </footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>
