<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostIdent</title>
</head>
<body>


<h1>PERSON ANLEGEN</h1>


<form th:action="@{/bildhochladen}"
      th:object="${neuesBild}" method="post"
      >
    <label>Wählen Sie eine Bilddatei (*.png, *.jpg usw.) von Ihrem Rechner aus.</label>


        <input  name="datei" type="file" size="50" accept=".png,.jpg" th:field="*{bild}"/>
    <br>
    <br>
        <input type="submit" value="Anlegen"/>
</form>





</body>
</html>