<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>PostIdent</title>
    <link href="../css/vergleich.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</nav>

<div id="home">
<h2>Daten abgleichen:</h2>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6">
            <form  th:action="@{/originalSpeichern}"
                   th:object="${tempPersonendaten2}"
                   method="post">
                <div class="form-group">
                    <label>Vorname:</label>
                    <input readonly th:value="*{vorname}" type="text" class="form-control" id="vorname">
                </div>
                <div class="form-group">
                    <label for="nachname">Nachname:</label>
                    <input readonly th:value="*{nachname}" type="text" class="form-control" id="nachname">
                </div>
                <div class="form-group">
                    <label for="persoNr">Personalausweis-Nr:</label>
                    <input disabled th:value="*{persoNr}" type="text" class="form-control" id="persoNr" placeholder="Personalausweis-Nr">
                </div>
                <div class="form-group">
                    <label for="geburtstag">Geburtstag:</label>
                    <input readonly th:value="*{geburtstag}" type="text" class="form-control" id="geburtstag" placeholder="Geburtstag">
                </div>
                <div class="form-group">
                    <label for="strasse">Straße:</label>
                    <input readonly th:value="*{strasse}" type="text" class="form-control" id="strasse" placeholder="Straße">
                </div>
                <div class="form-group">
                    <label for="hausnummer">Hausnummer:</label>
                    <input readonly th:value="*{hausnummer}" type="text" class="form-control" id="hausnummer" placeholder="Hausnummer">
                </div>
                <div class="form-group">
                    <label for="plz">PLZ:</label>
                    <input readonly th:value="*{plz}" type="text" class="form-control" id="plz" placeholder="Postleitzahl">
                </div>
                <div class="form-group">
                    <label for="stadt">Stadt:</label>
                    <input readonly th:value="*{stadt}" type="text" class="form-control" id="stadt" placeholder="Stadt">
                </div>
                <div style="text-align: center">
                    <button  id="Speichern" type="submit" class="btn btn-inverse"> Speichern</button>
                    <button class="btn btn-inverse" type="submit"> <a th:href="@{/datenAendern}">Daten ändern</a> </button>
                    <button class="btn btn-inverse" type="submit"> <a th:href="@{/}">Vorgang abbrechen</a> </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">


       <!--     <img th:src="@{/images/persoUpload.png}" width="500em"/>-->

            <img src="..\\images\\perso_al.png" width="500em" alt="2">
            <img src="..\images\perso_al.png" width="500em" alt="3">
            <img src="../images/perso_al.png" width="500em" alt="5">
            <img src="../images/perso_al.png" width="500em" alt="6"/>
            <img src="C:\Users\krach\IdeaProjects\AcademyKurs\Skripte&Übungen\Week 7\project_postident\src\main\resources\static\images\PersoFelixNurzugeschnitten.png" alt="7">
            <img th:src="@{/pathname}" width="500em" alt="4"/>
            <img src="../static/images/perso_al.png" width="500" th:src="@{images/perso_al.png}" alt="8"/>
            <img src="${pageContext.request.contextPath}/resources/images/perso_al" alt="9">
            <br>
        </div>
    </div>
</div>
</div>

<footer class="container-fluid text-center fixed">
    <h3>Impressum</h3>
</footer>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>
